{% extends 'base.html' %}

{% block content %}
{% load staticfiles %}


<div class="container">
        <div class="row">
        <div class="header-section "><br><br>
            <h2 style="color:#68b8e0">Need something moved?</h2>
            <h2>Use Zipmoov to move your items</h2>
            <hr class="bottom-line">
          </div>
          </div>
          </div>

    <!--banner-->



   <div class="banner">
      <div class="bg-color">
        <div class="container">
          <div class="row">
          <!--start drive with zipmoov-->
              <div class="index-sigupbox">
                          <div class="row">
                      <div class="col-xs-12">
                       <h4><a href="" style="color:#fff">Start drive with Zipmoov</a></h4>

                       <h4 style="margin-left:47px;margin-top:100px; font-size:20px;"><a href="" style="color:#fff">SIGN UP &#8680;</a></h4>

                       </div>
                  </div>
                     </div>

          <div class="form-group1" STYLE="Z-INDEX: 999999999;">
                <!--<form name="" id="loginForm" >-->
                <!--<h3><span>To use Zipmoov</span><br></h3>-->
                <!--<h3>Sign Up Below</h3>-->
                <!--<div class="col-xs-5"><hr></div><div class="col-xs-2" ><h4 style="color:#68b8e0">OR</h4></div><div class="col-xs-5"><hr></div>-->

                <!--<h3 style="padding:42px;">Register to become a Zipmoover</h3>-->
                  <!--<div class="form-group has-feedback" style="margin-bottom: 0px">-->
                      <!--<input  placeholder="Email Address"  id="loginid" type="text" style="" />-->
                  <!--</div><br>-->
                  <!--<div class="form-group has-feedback" style="margin-bottom: 0px">-->
                      <!--<input  placeholder="Email"  id="loginid" type="text"  />-->
                  <!--</div>-->
                  <!--<div class="form-group has-feedback" style="margin-bottom: 0px">-->
                      <!--<input  placeholder="Phone"  id="loginid" type="text"  />-->
                  <!--</div>-->
                  <!--<div class="form-group has-feedback" >-->
                      <!--<input  placeholder="Password"  id="loginid" type="text"  />-->
                  <!--</div>-->
                   <!--<div class="form-group has-feedback">-->
                      <!--<input  placeholder="City"  id="loginid" type="text"  />-->
                  <!--</div>-->
                   <!--<div class="form-group has-feedback">-->
                      <!--<input  placeholder="Invite Code (Optional)"  id="loginid" type="text"  />-->
                  <!--</div>-->
                  <!--<div class="row">-->
                      <!--<div class="col-xs-12">-->
                          <!--<button type="submit" id="submit" name="submit" class="form contact-form-button light-form-button oswald light" style="width:85%">SIGN UP TO USE ZIPMOOV</button>-->
                      <!--</div>-->
                  <!--</div>-->
                <!--</form>-->

              <form method="post">
                {% csrf_token %}
                {% for field in form %}
                  <p>
                    {{ field.label_tag }}<br>
                    {{ field }}
                    {% if field.help_text %}
                      <small style="color: grey">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                      <p style="color: red">{{ error }}</p>
                    {% endfor %}
                  </p>
                {% endfor %}
                <button type="submit">Sign up</button>
              </form>
              </div>

          </div>
        </div>
      </div>
    </div>

    <!--/ Navigation bar-->
   <section id="faculity-member" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="header-section text-center">

            <hr class="bottom-line">
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="pm-staff-profile-container">
              <div class="pm-staff-profile-image-wrapper text-center">
                <div class="pm-staff-profile-image">
                  <img src="{% static 'img/a3.jpg' %}" alt="xcv" class="img-circle">
                </div>
              </div>

              <div class="pm-staff-profile-details">
                <p class="pm-staff-profile-name">Easiest way to move items</p>
                <p class="pm-staff-profile-bio">Register with Zipmoov. Enter your pick-up address and describe your products to be moved.  Select a Zipmoover and sit back and relax. </p>

              </div>

            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="pm-staff-profile-container">
              <div class="pm-staff-profile-image-wrapper text-center">
                <div class="pm-staff-profile-image">
                  <img src="{% static 'img/a1.jpg' %}" alt="" class="img-circle">
                </div>
              </div>
              <div class="pm-staff-profile-details ">
                <p class="pm-staff-profile-name">Anywhere, anytime </p>

                <p class="pm-staff-profile-bio">Need to move funiture. Need rental equipment delivered to your home. Forgot something at home. Use Zipmoov. </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="pm-staff-profile-container">
              <div class="pm-staff-profile-image-wrapper text-center">
                <div class="pm-staff-profile-image">
                    <img src="{% static 'img/a2.jpg' %}" alt="" class="img-circle">
                </div>
              </div>
              <div class="pm-staff-profile-details ">
                <p class="pm-staff-profile-name">Inexpensive & convenient</p>
                <p class="pm-staff-profile-bio">Excellent service with great rates. Available when you need help. Use Zipmoov to handle your deliveries.</p>

              </div>

            </div>

          </div>
          <button type="submit" id="submit" name="submit" class="form contact-form-button light-form-button oswald light text-left">Resion to Ride</button>
        </div>
      </div>

    </section>

    <!-- second section-->
    <section>
<div class="banner1">
      <div class="bg-color">
        <div class="container">
          <div class="row">
           <div class="form-group4">
                <form name="" id="loginForm" >

                    <div class="row">
                      <div class="col-xs-12" >
                      <h2 style="color:#5bc0de"><span>Our</span></h2>
                       <h2 style="color:#5bc0de">Zipmoovers</h2>
                      <p>Our movers include people of different backgrounds, experiences and interests. They are passionate about what they do.
                      </p>
                      <button type="submit" id="submit" name="submit" class="form contact-form-button light-form-button oswald light" style="width:50%">READ STORIES</button>
                      </div>


                  </div>
                </form>
              </div>

          </div>
        </div>
      </div>
    </div>
   </section>
    <!-- third section-->
   <section id="organisations" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
          <div class="row">
          <h3 style="color:#5bc0de;font-size: 35px">Pricing</h3>
          <h2>Get a fare estimate</h2>
          </div>
           <div class="form-group" style="width:70%">
                <form name="">
                 <div class="form-group has-feedback">
                 <img src="{% static 'img/1.jpg' %}" height="46px" style="margin-bottom: 5px;"><input  placeholder="Enter Pickup Location"  id="loginid" type="text"  />


                  </div>
                  <div class="form-group has-feedback">
                     <img src="{% static 'img/2.jpg' %}" style="margin-bottom: 5px;"><input  placeholder="Enter Destination" id="loginpsw" type="text" />


                  </div>
                  <div class="row">
                      <div class="col-xs-6">
                          <button type="submit" id="submit" name="submit" class="form contact-form-button light-form-button oswald light" style="width:155%;margin-left:40px  ">Get info</button>
                      </div>
                  </div>
                </form>
              </div>


          </div>
          <div class="col-md-7">
            <div class="detail-info">
              <div id="googleMap" style="width:100%;height:400px; "></div>
            </div>
          </div>
        </div>
      </div>
    </section>
     <section>
      <div class="banner2">
      <div class="bg-color">
        <div class="container">
          <div class="row">
          <div class="form-group2">
                <form name="" id="loginForm" >
                <h2><span>Work when You want</span></h2>
                <h2>Earn $$$ When You Want</h2>
                    <div class="row">
                      <div class="col-xs-6" >
                      <p> Working as a Zipmoover is flexible and rewarding. We help movers meet their career and financial goals.
                      </p>

                      </div><br>

                      <div class="col-xs-6">
                          <button type="submit" id="submit" name="submit" class="mid-btn-top-left">REASON TO DRIVE</button>
                      </div>
                  </div>
                </form>
              </div>

          </div>
        </div>
      </div>
    </div>
   </section>

   <!---->


   <section id="organisations" class="section-padding" style="background-color: rgba(241, 241, 241, 0.69);">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
          <div class="box-slide-card">
          <div class="row">
            <div class="meet-our-device">
          <h3 style="color:#27ACE2 ">At the wheel</h3>
          <h2>Meet our drivers</h2>
          </div>
          </div>
        <div class="w3-content">

        <div class="div-bottom-slider-sift">
      <div class="mySlides">
     <div class="container">
        <div class="row" >
        <div class="div-bottom-slider-min">
            <div class="col-sm-6 col-md-4 col-lg-3 mt-4" style="width:29%">
                <div class="card">
                    <img class="card-img-top" src="{% static 'img/Driver-1.png' %}">
                    <div class="card-block">


                        <div class="card-text">
                            "I started driving with Zipmoov because I liked the idea that my own car could make me money. After just about a couple weeks, I saw that this was something I wanted to do permanently."
                        </div>
                    </div>
                    <div class="card-footer">
                        <span class="float-right">Brandon</span>
                        <span><i class=""></i></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mt-4" style="width:29%">
                <div class="card">
                    <img class="card-img-top" src="{% static 'img/Driver-2.png' %}">
                    <div class="card-block">
                        <div class="card-text">
                           "I wanted something where I could meet new people and get out of the house. Zipmoov has helped with both of those things, plus I’m seeing new parts of the city I’ve never seen before!"
                        </div>
                    </div>
                    <div class="card-footer">
                        <span class="float-right">Michal</span>
                        <span><i class=""></i></span>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3 mt-4" style="width:29%">
                <div class="card">
                    <img class="card-img-top" src="{% static 'img/Driver-3.png' %}">
                    <div class="card-block">

                        <div class="card-text">
                            "Zipmoov enables me to have the creative freedom for baking my cakes and also driving on the side so I can make more money and also have my dream job."
                        </div><br>
                    </div>
                    <div class="card-footer">
                        <span class="float-right">Jenny</span>
                        <span><i class=""></i></span>
                    </div>
                </div>
            </div>

        </div>
        </div>
</div>
  </div>
  <div class="mySlides">
  <div class="container">
        <div class="row">
         <div class="div-bottom-slider-min">
        <div class="col-sm-6 col-md-4 col-lg-3 mt-4" style="width:29%">
                <div class="card">
                    <img class="card-img-top" src="{% static 'img/Driver-1.png' %}">
                    <div class="card-block">
                        <div class="card-text">
                           "I wanted something where I could meet new people and get out of the house. Zipmoov has helped with both of those things, plus I’m seeing new parts of the city I’ve never seen before!"
                        </div>
                    </div>
                    <div class="card-footer">
                        <span class="float-right">Michal</span>
                        <span><i class=""></i></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mt-4" style="width:29%">
                <div class="card">
                    <img class="card-img-top" src="{% static 'img/Driver-2.png' %}">
                    <div class="card-block">

                        <div class="card-text">
                            "Zipmoov enables me to have the creative freedom for baking my cakes and also driving on the side so I can make more money and also have my dream job."
                        </div><br>
                    </div>
                    <div class="card-footer">
                        <span class="float-right">Jenny</span>
                        <span><i class=""></i></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mt-4" style="width:29%">
                <div class="card">
                    <img class="card-img-top" src="{% static 'img/Driver-1.png' %}">
                    <div class="card-block">

                        <div class="card-text">
                           "With Zipmoov, I’m able to realize my goals. I’m able to pursue my dreams. I’m able to stay focused on sharing amazing musical experiences with the world."
                        </div><br>
                    </div>
                    <div class="card-footer">
                        <span class="float-right">Sean</span>
                        <span><i class=""></i></span>
                    </div>
                </div>
            </div>




</div>
</div>
  </div>
  </div>
  <div class="w3-row-padding w3-section" style="text-align: center;">
    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
  </div>
</div>
</div>
</div>

        </div>
      </div>
      </div>
    </section>



    <section>
      <div class="banner3">
      <div class="bg-color">
        <div class="container">
          <div class="row">
          <div class="form-group3">


                    <div class="row">
                      <div class="col-xs-8" >
                      <h3><span>The new app</span></h3>
                      <h2>Gets Your there there faster</h2>
                      <p> The update new Zipmoov app is rooling out now to cities around the world.And it's filled with new features that make getting where we want to go faster and easier.
                      </p>

                      </div>

                      <div class="col-xs-4">
                      <div class="row">
                      <div class="div-bottom-for-vews">
                          <button type="submit" id="submit" name="submit" class="mid-btn-top-right" >SEE WHAT'S NEW</button>
                          </div>
                          </div>
                      </div>
                  </div>

              </div>

          </div>
        </div>
      </div>
    </div>
   </section>
  <!--safe and mordern cities-->
  <section id="organisations" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
          <div class="row">
          <h2 style="color:#5bc0de">Now arriving</h2>
          <h2>Safe and modern cities</h2>
          </div>
          </div>
        </div>
      </div>
    </section>
   <section id="organisations" class="section-padding">
      <div class="container">
       <div class="col-md-12">
        <div class="row">
          <div class="col-md-2">
              <div class="row">
                <img src="{% static 'img/3.jpg' %}" style="margin-top: 30px" >
             </div>
           </div>
          <div class="col-md-3">
             <div class="row">
             <h3>Helping cities thrive</h3>
          <p>A city with Zipmoov give people more ways to make money, hasfever drunk drivers on the road, and provides transporation anywhere,anytime </p>

          </div>
          <div class="row">
            <div class="div-bottom-for-keep">
          <button type="submit" id="submit" name="submit" class="mid-btn-right" >SEE THE IMPACT</button>
           </div>
           </div>
          </div>
          <div class="col-md-1">
              <div class="row">
               <hr style="height:200px; width:2px;background:#DCDCDC">
             </div>
           </div>

          <div class="col-md-2">
             <div class="row">
               <img src="{% static 'img/4.jpg' %}" style="margin-top: 30px">
             </div>
          </div>
          <div class="col-md-3">
             <div class="row">
               <h3>Safe rides for everyone</h3>
               <p>Whether riding and the backseat or driving up front,every part of the Zipmoov experiece is designed around your safety and security</p>

             </div>
              <div class="row">
              <div class="div-bottom-for-keep">
          <button type="submit" id="submit" name="submit" class="mid-btn-left">HOW WE KEEP YOU SAFE</button>
          </div>
          </div>
          </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}